<div id="provider_users_options">
  <%= semantic_form_for [:admin, listing || Listing.new], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.input :provider_users, 
                as: :check_boxes, 
                collection: listing.brand&.active_provider_users&.pluck(:email, :id) || [], 
                input_html: { id: 'provider_users_input' } %>
  <% end %>
</div>
