<div>
  <% if blog_post.featured_image.attached? %>
    <%= image_tag blog_post.featured_image.variant(resize_to_fill: [400, 300]), class: "w-full h-48 object-cover rounded-lg" %>
  <% end %>
  <div class="mt-4 px-8">
    <h3 class="font-bold text-lg">
      <%= link_to blog_post.title, blog_article_path(blog_post.category.slug, blog_post.slug), class: "hover:text-blue-600" %>
    </h3>
    <div class="flex items-center mt-2">
      <% if blog_post.admin_user.avatar.attached? %>
        <%= image_tag blog_post.admin_user.avatar.variant(resize_to_fill: [40, 40]), class: "w-10 h-10 rounded-full mr-2" %>
      <% end %>
      <span><%= blog_post.admin_user.name %></span>
    </div>
  </div>
</div>