<div class="text-center">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-6">Tack för din förfrågan!</h2>
  <p class="text-lg text-gray-600 mb-6">Vi återkommer till dig så snart som möjligt med förslag på kontor.</p>
  <%= link_to "Stäng", "#", class: "primary-button", data: { action: "click->modal#close" } %>
</div>
