<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <!-- Centered Logo Div -->
    <div class="p-16 flex justify-center items-center">
      <%= image_tag 'dweller_logo.svg', alt: 'Dweller', width: '120' %>
    </div>
    <p class="text-base font-semibold text-custom-black"><%= @error_code %></p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-custom-black sm:text-5xl"><%= @error_title || "Oj, här var det tomt." %></h1>
    <p class="mt-6 text-base leading-7 text-dark-grey"><%= @error_message || "Det verkar som vi inte kan hitta den här sidan." %></p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-custom-black shadow-sm hover:bg-primary-30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand">Gå till startsidan</a>
      <a href="#" class="text-sm font-semibold text-dark-grey">Kontakta oss <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
