<h1>Din kontorskalkyl är klar</h1>

<p>Hej <%= @office_calculation.first_name %>,</p>

<p>Tack för att du använde vår kontorskalkylator. Din beräkning är nu klar och du kan se resultatet genom att klicka på länken nedan:</p>

<p><%= link_to "Se din kontorskalkyl", @result_url %></p>

<p>Om du har några frågor, tveka inte att kontakta oss.</p>

<p>Med vänliga hälsningar,<br>Dweller-teamet</p>
