<main class="isolate">

    <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <p class="text-base font-semibold leading-7 text-primary">Med hyresgästen i fokus</p>
          <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Om Dweller</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Kontor kan och ska vara en enkel sak. Det behöver inte vara komplicerat och tidskrävande att hitta ett hyreskontor. Vi vill göra det enklare för alla att hyra kontor i Stockholm.</p>
        </div>
      </div>
      

    <!-- Content section -->
    <div class="mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8 mb-12">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="text-center">
          <h3 class="mt-2 mb-12 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Vision och mission</h3>
        </div>
        <div class="mt-6 flex flex-col gap-x-12 gap-y-20 lg:flex-row">
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <h4 class="text-xl font-bold text-gray-900">Vision</h4>
            <p class="mt-6 text-lg leading-8 text-gray-600">Ett kontor är för många företag mer än ett avtal och en fysisk plats. En bättre upplevelse när man söker och flyttar in i ett kontor skapar ett långsiktigt värde för företag. En plats där idéer och affärer kan utvecklas.</p>
          </div>
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <h4 class="text-xl font-bold text-gray-900">Mission</h4>
            <p class="mt-6 text-lg leading-8 text-gray-600">Dwellers mål är att förenkla och effektivisera för hyresgäster att hitta, välja och flytta in i ett kontor som passar just deras situation och behov, nu och i framtiden.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Image section -->
    <div class="mt-32 sm:mt-20 xl:mx-auto xl:max-w-7xl xl:px-8">
      <%= image_tag 'static/about.jpg', alt: 'Om Dweller', class: 'aspect-[5/2] w-full object-cover xl:rounded-3xl' %>
    </div>

    <!-- Values section -->
    <div class="mx-auto mt-20 max-w-7xl px-6 sm:mt-20 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Vår process</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Dweller är stödet du som söker lokal behöver, oavsett storlek, behov eller längd kan ta hjälp av för att spara tid och försäkra er om att ni verkligen hamnar rätt. Dweller är och kommer alltid förbi kostnadsfritt för den som söker ett nytt kontor.</p>
      </div>
      <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div>
          <span class="inline-flex items-center justify-center w-8 h-8 bg-primary-30 text-center rounded-full font-semibold mb-6">1</span>
          <dt class="font-semibold text-gray-900">Behov</dt>
          <dd class="mt-1 text-gray-600">Vår hjälper dig kalkylera för dina behov och förväntningar så att vi kan identifiera vad för kontor ni söker.</dd>
        </div>
        <div>
          <span class="inline-flex items-center justify-center w-8 h-8 bg-primary-30 text-center rounded-full font-semibold mb-6">2</span>
          <dt class="font-semibold text-gray-900">Matchning</dt>
          <dd class="mt-1 text-gray-600">Vi skapar ett urval med kontor som matchar med den kalkyl som vi tillsammans skapat.</dd>
        </div>
        <div>
          <span class="inline-flex items-center justify-center w-8 h-8 bg-primary-30 text-center rounded-full font-semibold mb-6">3</span>
          <dt class="font-semibold text-gray-900">Visning</dt>
          <dd class="mt-1 text-gray-600">Vi hjälper dig själv eller tillsammans med oss på visning för att utvärdera de lokaler som du valt.</dd>
        </div>
        <div>
          <span class="inline-flex items-center justify-center w-8 h-8 bg-primary-30 text-center rounded-full font-semibold mb-6">4</span>
          <dt class="font-semibold text-gray-900">Avtal</dt>
          <dd class="mt-1 text-gray-600">Vi hjälper dig till ett rättvist och väl utformat avtal med din hyresvärd.</dd>
        </div>
        <div>
          <span class="inline-flex items-center justify-center w-8 h-8 bg-primary-30 text-center rounded-full font-semibold mb-6">5</span>
          <dt class="font-semibold text-gray-900">Inflytt och mervärde</dt>
          <dd class="mt-1 text-gray-600">Behöver du ytterligare hjälp efter att du flyttat in? Vi kan hjälpa dig med allt från renovering till kaffe. Säg hur högt så hoppar vi!</dd>
        </div>
      </dl>
    </div>

    <!-- Team section -->
    <div class="mx-auto mt-20 max-w-7xl px-6 sm:mt-48 lg:px-8 text-center mb-12">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">One man army</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Dweller är grundat av Mikael Uusitalo, idag ensam anställd. Tillsammans med konsulter och fristående mäklare bygger Dweller ett team som hjälper våra kunder till deras nästa kontor.
        </p>
      </div>
      <ul role="list" class="mt-20 flex flex-col items-center">
        <li class="flex flex-col items-center">
          <img class="h-24 w-24 rounded-full" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
          <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">Mikael Uusitalo</h3>
          <p class="text-sm leading-6 text-gray-600">Grundare</p>
        </li>
      </ul>
    </div>
  </main>

  <%= render 'shared/footer' %>